body {
    font-family: Roboto;
}

#logo{
    width: 100px;
    height: auto;
    margin-left: 150px;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    color: white;
    list-style-type: none;
    gap: 20px;
    margin-right: 150px;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

