body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

#logo{
    width: 100px;
    height: auto;
    margin-left: 150px;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: top;
    margin-top: 30px;
    color: rgb(227, 206, 206);
    list-style-type: none;
    gap: 15px;
    flex-shrink: 0;
    margin-right: 150px;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 540px;
    background-color: #1F2937;
}

.greeting {
    display: flex;
    background-color: #1F2937;
    padding: 50px;
    justify-content: center;
    gap: 10px;
}

.greet-left {
    max-width: 500px;
    padding: 10px;
}

.greet-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 7px;
}

.greet-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.greet-button {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#airplane {
    width: auto;
    height: 290px;
    border-radius: 3px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-title {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
    padding: 20px;
}

.content-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.card {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#product {
    width: 150px;
    height: auto;
    border-radius: 3px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}

.quote {
    padding: 0;
    margin: 0;
    margin-top: 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300px;
    font-style: italic;
    max-width: 700px;
}

.author {
    padding: 0;
    margin: 0;
    margin-left: 350px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 100px;
}

.sign-up {
    display: flex;
    flex-direction: row;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.sign-up-section {
    display: flex;
    color: white;
    border-radius: 10px;
    width: 900px;
    height: 130px;
    font-size: 20px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.sign-title, .sign-text {
    padding: 0;
    margin: 0;
}

.sign-title {
    font-weight: bold;
    font-size: 24px;
}

.sign-right-button {
    color: white;
    background-color: #3882F6;
    border: 2px white solid;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 20px;
}